.marketing-container#pricing.dark
  .container
    %h2.text-center Pricing

    .row
      .span4.offset4.text-center
        %p.huge-money
          %span.little-dollar-sign $
          34
          %span.little-pennies .95
        %p.shipping Per month plus shipping and handling
        = link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-large btn-block btn-info"

.marketing-container.light#about
  .container
    .row
      .span8
        %h2 Try new beer every month!
        %p.info HomeBrewster makes it easy for you to brew and try all kinds of beer! Every month we will send you the ingredients for a new recipe to brew. You no longer need waste time searching for unique and seasonal recipes. We do that for you!
      .span4

.marketing-container
  .container
    .row
      .span8
        %h2 Completely all-grain kits.
        %p.info We understand that all grain brewing gives you more control, and creates an all around better beer.  Because of this, our kits are completely all grain brew kits.
      .span4


.marketing-container.light
  .container
    .row
      .span8
        %h2 Five gallon kits.
        %p.info Currently we only offer kits for five gallon batches.  Most people tend to brew around this much per batch.  If you would like a bigger or smaller kit, contact us and we will see what we can do.
      .span4

.marketing-container
  .container
    .row
      .span8
        %h2 What's included:
        %p.info You will receive malt, hops, irish moss (if necessary) and dry brewer's yeast.  Additional spices and ingredients will need to purchased at your local grocery store.

.marketing-container.light
  .container
    .row
      .span4.text-center.offset4
        = link_to "Start Brewing Great Beer!", new_user_registration_path, class: "btn btn-large btn-block btn-info"

