.container#about

  %h2.text-center.tag-line Get a new beer recipe sent to your door every month!

  .row.marketing-container
    .span6
      %p.info Beerocity makes it easy for you to brew and try all kinds of beer! Every month we will send you the ingredients for a new recipe to brew. You no longer need waste time searching for unique and seasonal recipes. We do that for you!

      %p.info We understand that all grain brewing gives you more control, and creates an all around better beer.  Because of this, our kits are completely all grain brew kits.

      %p.info Currently we only offer kits for five gallon batches.  Most people tend to brew around this much per batch.  If you would like a bigger or smaller kit, contact us and we will see what we can do.

    .span6
      %p.lead What's included:
      %ul
        %li The recipe for the kit.
        %li High quality, fresh malt grains.
        %li All of the necessary hops.
        %li Dry brewer's yeast.
      %p Any additional spices or ingredients needed for the kits will need to be purchased at your local grocery store.
      = link_to "Get Brewing Now!", new_user_registration_path, class: "btn btn-info btn-large"

  %hr

  .row.marketing-container#pricing
    .span8
      %h2 Pricing
      %p.lead What you get:
      %p You will be sent a quality all grain beer kit to your door every month.
      %p Your kit will be shipped on the third Monday of each month so you can get it just before the weekend.
    .span3.text-center
      %p.huge-money
        %span.little-dollar-sign $
        44
        %span.little-pennies .99
      %p.shipping Plus shipping and handling
      = link_to "Start Now!", new_user_registration_path, class: "btn btn-large btn-warning"
