- content_for :title, "About Us"
.container
  .section
    .container
      %h2 The Team
      %hr
  .container
    .row
      .span3
        = image_tag @shane_url, class: "gravatar"
      .span9
        %h3 Shane Burkhart
        %p.lead.muted Co-Founder
        %p Hi, my name is Shane Burkhart and I am a computer engineeringcomputer science double major at the Missouri University of Science and Technology.  Most of my time is spent coding, working on computers, or looking for my next startup idea.  My goal is to use software and computers to solve as many real world problems as I can.
    %hr

  .container
    .row
      .span9
        %h3 Ryan Endacott
        %p.lead.muted Co-Founder
        %p  Hi, I'm Ryan. I've been coding for a few years, touching everything from machine learning to countless web applications. I'm currently leading the local ACM chapter as a sophomore at the University of Missouri. In short, I'm excited to be building HomeBrewster and can't wait to get some awesome recipes shipped to the brewing community. Have any questions, comments, concerns, or new ideas for HomeBrewster?  Feel free to shoot me an email. Cheers and happy brewing!
      .span3
        = image_tag @ryan_url, class: "gravatar"

