// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.marketing-container{
  margin-bottom: 50px;

  p.info, li{
    font-size: 1.2em;
    line-height: 1.5;
  }

}

#faq{

  .lead{
    margin-bottom: 5px;
  }

  .question{
    margin-bottom: 40px;
  }
}

.tag-line{
  margin: 40px 0px 80px;
}

.header{
  position: relative;
  top: 0;
  left: 0;
  height: 500px;
  overflow: hidden;
  margin-bottom: 15px;
}

.header_background{
  position: absolute;
  z-index: -999;
  margin: auto;
  min-height: 100%;
  min-width: 1920px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1920px) {
  .header_background{
    left: 50%;
    margin-left: -960px;
  }
}

.huge-money{
  font-size: 8em;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0;
}

.shipping{
  font-size: 15px;
}

.little-dollar-sign{
  font-weight: bold;
  font-size: 40px;
  margin-right: -30px;
  margin-left: -23px;
}

.little-pennies{
  display: inline-block;
  font-size: 30px;
  vertical-align: top;
  margin-top: 14px;
  margin-left: -20px;
}

.navigation-container{
  margin-top: 134px;
  background-color: rgba(0, 0, 0, .83);
  color: white;
  text-align: center;
  padding: 26px 0;

  h1{
    text-indent: -99999em;
    background-image: image-url("header_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 664px;
    height: 120px;
  }

  ul{
    list-style: none;
    margin: 0;

    li{
      display: inline-block;
      margin: 0 13px;
      font-size: 1.1em;

      a{
        color: white;

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
