%h1 This Month's Recipe
%h4.muted November 2013
.well.well-large.monthly-recipe
  .row-fluid
    .span7
      %p.lead Gingerbread Ale
      %p.desc Some great description
      %ul
        %li= link_to "Instructions"
    .span5.text-center
      = image_tag "gingerbread.jpg", class: "recipe-image"

