%h1 This Month's Recipe
%h4.muted November 2013
.well.well-large.monthly-recipe
  .row-fluid
    .span7
      %p.lead Gingerbread Ale
      %p.desc Duis vitae orci ultricies, mattis arcu ut, pretium nisl. In dui elit, consequat ut elit a, pulvinar euismod urna. Donec a enim tellus. Etiam dictum ipsum a feugiat tincidunt. Aliquam nec odio placerat, dapibus arcu et, feugiat lacus. Nulla nec sem nisi. Proin tristique rutrum lacus at mollis. Sed vel dui eget felis aliquam ultrices. Integer metus nisl, aliquam id elit non, fringilla lacinia purus.
      %ul
        %li= link_to "Instructions"
        %li= link_to "Comments (104)"
    .span5.text-center
      = image_tag "gingerbread.jpg", class: "recipe-image"

#comments
  %h3 Comments (104)

  %hr



  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Great recipe!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Definitely would recommend this recipe to a friend!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Decent recipe, but I am not a huge fan on gingerbread!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Great recipe!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Definitely would recommend this recipe to a friend!
  %hr

  %p.lead
    Todd Goodman -
    %span.muted Nov. 13
  %p Decent recipe, but I am not a huge fan on gingerbread!
