- content_for :title, "This Month's Recipe"
%h1 This Month's Recipe
%h4.muted November 2013
.alert.alert-info
  The deadline to get this month's recipe is 11/15/13. If you missed the deadline, no worries! You are signed up for next month.

.well.well-large.monthly-recipe
  .row-fluid
    .span7
      %p.lead Gingerbread Ale
      %p.desc It's that time or year again: egg nog and gingerbread cookies!  In the spirit of the holidays, this month's kit is a delicious Gingerbread Ale.  We are sending this kit in November so you have time to brew it before Christmas.  That way you can enjoy your fresh Gingerbread Ale with Christmas dinner.  The kit will ship on Monday, November 18th just before the weekend.  Hope you enjoy this month's brew and happy brewing!  Cheers!
      %ul
        %li= link_to "Instructions"
    .span5.text-center
      = image_tag "gingerbread.jpg", class: "recipe-image"

